nav {
    background-color: #2471de;
    height: 50px;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav li {
    float: right;
  }
  
  nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .registration-form {
    margin: 50px auto;
    padding: 20px;
    width: 500px;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }
  
  .registration-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .registration-form label {
    display: block;
    margin-bottom: 8px;
  }
  
  .registration-form input[type="text"],
  .registration-form input[type="email"],
  .registration-form select,
  .registration-form input[type="datetime-local"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .registration-form input[type="submit"] {
    background-color: #333;
    color: white;
    border: none;
    height: 20px;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  .registration-form input[type="submit"]:hover {
    background-color: #ddd;
    color: black;
  }